{% spaceless %}
	<html>
		<head>
			<title>
				{% block subject %}ADH{% endblock subject %}
			</title>
		</head>
		<body>
			{% block content %}{% endblock content %}
		</body>
	</html>
{% endspaceless %}