{% import "ADHUserBundle:User:Macro.html.twig" as user_utils %}

{% for new in news.iterator %}
	{{ render(controller("ADHNewsBundle:Block:news", { "news": new, "prefix": "recent-", "link": true, "more": true })) }}
{% else %}
	<p>
		Aucune news récente.
	</p>
{% endfor %}
<p class="text-center">
	<a href="{{ path("adh_news_default") }}" title="Plus de news...">Plus de news...</a>
</p>