/**
 * Top
 */
.nav-feedback {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	height: 103px;
	
	background-image: url(../images/nav-feedback.png);
	background-position: top center;
}

.nav-feedback .nav-infos {
	margin: 0 auto;
	padding-top: 12px;
	text-align: center;
	width: 420px;
	color: white;
}

.nav-feedback .nav-infos .nav-info-article {
	font-size: 24px;
}

.nav-feedback .nav-infos .nav-info-subtitle {
	font-size: 20px;
}

.nav-feedback .nav-infos .nav-info-subtitle:before {
	content: "-";
	margin: 0 10px;
}